<div class="container center-items">
  <div class="my-bills-list center-items">
    <app-bill-table 
      [title]="title" 
      [bills]="bills" 
      [totalAmountPaid]="totalAmountPaid" 
      [totalAmountRemaining]="totalAmountRemaining"
      (removeBill)="remove($event)"
      (editBill)="edit($event)"
      (saveBill)="saveBill($event)"
      (markBillAsPaid)="markAsPaid($event)">
    </app-bill-table>
    <button class="add-button" type="button" (click)="openAddBillForm()">Add Bill</button>
  </div>
</div>