.my-bills-list {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 720px;
    width: 100%;
}

.add-button {
    background-color: var(--pri-color);
}
