<div class="container center-items">
  <div class="my-bills-list center-items">
    <app-bill-table 
      [title]="title" 
      [bills]="bills" 
      [totalAmountPaid]="totalAmountPaid" 
      [totalAmountRemaining]="totalAmountRemaining"
      (removeBill)="remove($event)"
      (editBill)="edit($event)"
      (saveBill)="saveBill($event)"
      (markBillAsPaid)="markAsPaid($event)">
    </app-bill-table>
    <div class="input-group-form">
      <div class="inline-inputs">
        <input type="text" placeholder="Bill Name" #newBillName>
        <input type="number" placeholder="Amount" #newBillAmount>
        <input type="date" placeholder="Due Date" #newBillDueDate>
      </div>
      <div class="inline-inputs">
        <input type="text" placeholder="Link to Bill" #newBillUrl>
      </div>
      <button class="add-button" (click)="add(newBillName.value, newBillUrl.value, newBillAmount.value, newBillDueDate.value)">Add</button>
    </div>
  </div>
</div>
