.my-bills-list {
    border: 1px solid var(--borders);
    border-radius: var(--radius);
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
}

.add-button {
    background-color: var(--pri-color);
}
